.hidden {
  display: none;
}

/* 전체 폰트 설정 */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* 로그인 폼 스타일 */
#login-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

#login-form input {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

#login-form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#login-form button[type="submit"]:hover {
  background-color: #222;
}

/* 인사말과 시계 스타일 */
#greeting {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#greeting h2 {
  margin: 0;
  padding: 0;
  font-size: 4em;
  font-weight: bold;
  color: #333;
  line-height: 1em;
}

#greeting h1 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  color: #333;
}

/* 할 일 입력 폼과 목록 스타일 */
#todo-form {
  margin-top: 20px;
}

#todo-form input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#todo-list {
  list-style: none;
  padding: 0 10;
}

#todo-list li {
  margin: 0 auto;
  width: 50%;
  position: relative;
  margin-bottom: 2px;
  font-size: 16px;
  background-color: #f9f9f9;
  border-radius: 3px;
  background-color: transparent;
}

#todo-list li:hover {
  background-color: #8d8d8d;
}

#todo-list li::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  border-radius: 50%;
}
#weather {
  position: absolute;
  top: 5px;
  font-size: 1em;
}

/* 명언 스타일 */
#quote {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 16px;
  font-style: italic;
  color: #333;
}

#quote span:first-child {
  display: block;
  margin-bottom: 5px;
}
